* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: linear-gradient(#24C6DC 0%, #514A9D 100%);
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.one {
    width: 38.5vw;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.one .head {
    font-size: 3rem;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.zero {
    font-size: 80px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #122834;
}

.i {
    width: 35%;
    padding: 3px;
    border: 2px solid #122834;
    border-radius: 5px;
    letter-spacing: 2px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    margin: 10px;
}

.d {
    width: 35%;
    padding: 3px;
    border: 2px solid #122834;
    border-radius: 5px;
    letter-spacing: 2px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    margin: 10px;
}

.r {
    width: 25%;
    padding: 3px;
    border: 2px solid #122834;
    border-radius: 5px;
    letter-spacing: 2px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}

@media screen and (max-width: 1000px) {
    .main-container {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
    }
    .one {
        width: 100vw;
        height: 100vh;
    }
    .one .head {
        font-size: 35px;
    }
}

@media screen and (max-width: 240px) {
    .one .head {
        font-size: 25px;
    }
    .i {
        font-size: 10px;
    }
    .d {
        font-size: 10px;
    }
    .r {
        font-size: 10px;
    }
}

@media screen and (max-width: 173px) {
    .one .head {
        font-size: 15px;
    }
    .i {
        font-size: 7px;
        margin: 1px;
    }
    .d {
        font-size: 7px;
        margin: 1px;
    }
    .r {
        font-size: 7px;
    }
}